<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
   <h1> Welcome to  CSE Motors </h1>
    
    <main>
      <section class="hero">
        <img src="/images/vehicles/delorean.jpg" alt="Delorean Car">
        <div class="hero-content">
          <h1>DMC Delorean</h1>
          <p>3 Cup holders</p>
          <p>Superman doors</p>
          <p>Fuzzy dice!</p>
          <button>Own Today</button>
        </div>
      </section>

      <section class="features">
          <h3>Delorean upgrades</h3>
        <div class="feature-card">
          <img src="/images/site/logo2.png" alt="flux capacitor">
          <p>flux capacitor</p>
        </div>
        <div class="feature-card">
          <img src="/images/site/logo3.png" alt="Service Icon">
          <h3>Expert Service</h3>
          <p>Our certified technicians provide top-notch service</p>
        </div>
      </section>

      <section class="reviews">
        <h2>Customer Reviews</h2>
        <div class="review-card">
          <p>"CSE Motors is the best! They fixed my car quickly and at a fair price."</p>
          <p>- John D.</p>
        </div>
        <div class="review-card">
          <p>"Excellent customer service and knowledgeable staff."</p>
          <p>- Sarah M.</p>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>
  </div>
</body>
</html>