<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <div class="container">
   <h1> Welcome to  CSE Motors </h1>
    
    <main class="main">
      <section class="hero">
        <img src="/images/vehicles/delorean.jpg" alt="Delorean Car">
        <div class="hero-content">
          <h1>DMC Delorean</h1>
          <p>3 Cup holders</p>
          <p>Superman doors</p>
          <p>Fuzzy dice!</p>
          <button>Own Today</button>
        </div>
      </section>

      <section class="features">
          <h3>Delorean upgrades</h3>
        <div class="feature-card">
          <img src="/images/site/logo2.png" alt="flux capacitor">
          <p>Flux Capacitor</p>
        </div>
        <div class="feature-card">
          <img src="/images/site/logo2.png" alt="Flame Decals">
          <p>Flame Decals</p>
        </div>
        <div class="feature-card">
          <img src="/images/site/logo2.png" alt="Bumper Stickers">
          <p>Bumper Stickers</p>
        </div>
        <div class="feature-card">
          <img src="/images/site/logo2.png" alt="Hub Caps">
          <p>Hub Caps</p>
        </div>
      </section>

      <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <div class="review-card">
          <p>"So fast its almost  like traveling in time."</p>
          <p>4/5</p>
        </div>
        <div class="review-card">
          <p>"Coolest ride on the road."</p>
          <p>4/5</p>
        </div>
        <div class="review-card">
          <p>"I'm feeling McFly "</p>
          <p>5/5</p>
        </div>
        <div class="review-card">
          <p>"The most futuristic ride of our day."</p>
          <p>4.5/5</p>
        </div>
        <div class="review-card">
          <p>"80's livin and I love it!"</p>
          <p>5/5</p>
        </div>
      </section>
    </main>
  </div>
</body>
</html>